@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;


@*@if (@ViewBag.Name != null)*@
@if (Context.Session.GetString("_Name") != null)
{
    <form asp-action="Logoff" class="navbar-right">
        <ul class="nav navbar-nav navbar-right collapse d-sm-inline-flex">
            <li class="nav-item">
                Hello @Context.Session.GetString("_Name")
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right collapse d-sm-inline-flex">
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="register">Register</a></li>
        <li class="nav-item">
            <a a class="nav-link text-dark" asp-action="login">Login</a></li>
    </ul>
}
