@model IEnumerable<WebSiteCoreProject1.Models.ClassModel>

@{
    ViewData["Title"] = "ClassList";
}

<h1>Classes</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @item.ClassName
                </td>
                <td>
                    @item.ClassDescription
                </td>
                <td>
                    @item.ClassPrice
                </td>
                
            </tr>
        }
    </tbody>
</table>
